node_modules/
meshcentral-data/*
!meshcentral-data/config.json
meshcentral-backups/
meshcentral-files/
temp/
*.db*
*.log
agent_path.txt
output.txt
output_ascii.txt
res_output.txt
res_output2.txt
res_output2_ascii.txt
res_output_ascii.txt
si_out.txt
si_out_ascii.txt
strip_out.txt
strip_out2.txt
strip_out2_ascii.txt
strip_out3.txt
strip_out3_ascii.txt
strip_out4.txt
strip_out4_ascii.txt
strip_out_ascii.txt
